* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

body{
    background-color: rgb(216, 225, 222);

}

#header-color{
    background-color: rgb(250, 249, 249) ;
}
main {
    margin-left: 150px;
    
    
}

.header-text{
    background-color: rgb(250, 249, 249);
    
}
.title-text{
    font-size: xx-large;
   

}
.badge{
    border-radius: 5px;
    background-color: rgb(23, 117, 194);
    color: white;
    padding: 0.5rem;
}
.add-section{
    border-radius: 5px;
    margin-left: 5px;
    background-color: white;
    color: rgb(211, 202, 202);
    padding: 0.5rem;
    border-style: solid;
}

.add-text{ 
    margin-top: 60px;
}

.title-section{
    margin-top: 50px;
}
.subsection-text{
    font-size: large;
    margin-top: 15px;
    margin-left: 10px;
}


#checks{
    color: green;
    

}
#fails{
    color: red;
}
.blue-badge{
    border-radius: 10px;
    background-color: rgb(19, 173, 228);
    color: white;
    padding: 0.5rem;
    font-size: small;
}
    
.purp-badge{
    border-radius: 10px;
    background-color: rgb(191, 34, 205);
    color: white;
    padding: 0.5rem;
    font-size: small;
}
.green-badge{
    border-radius: 10px;
    background-color: rgb(24, 138, 76);
    color: white;
    padding: 0.5rem;
    font-size: small; 
}
.orange-badge{
    border-radius: 10px;
    background-color: orange;
    color: white;
    padding: 0.5rem;
    font-size: small;
}
.pink-badge{
    border-radius: 10px;
    background-color: rgb(255, 0, 93);
    color: white;
    padding: 0.5rem;
    font-size: small;
}
.lime-badge{
    border-radius: 10px;
    background-color: limegreen;
    color: white;
    padding: 0.5rem;
    font-size: small;
}
