* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}


.header-text{
    background-color: whitesmoke;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    padding-bottom: 0px;
    padding-left: 0px;
}
.logo-text{

}
.title-text{
    
}